body{
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    color: white;
    background-color: rgb(34, 34, 34)
    
}

input {
    margin-top: 15px;
    text-align: center;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    
}